<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Artist Details Profile</title>
    <link rel="stylesheet" href="../static/details.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <section>
        <div class="card1">
            <div class="card">
                <div class="left-container">
                    <img src="{{.RetArtist.Image }}">
                    <h3 class="gradienttext">Name: {{.RetArtist.Name}}</h3>
                    <p>First Album: {{.RetArtist.FirstAlbum}}</p>
                </div>
                <div class="right-container">
                    <center>
                        <h2 class="gradienttext">Artist Details</h2>
                        <!-- <p>Members :{{.RetArtist.Members}}</p> -->
                        <ul>
                            {{ range $members :=.RetArtist.Members }}
                            <li class="location">
                                <p class="location-name">{{ $members }}</p>
                            </li>
                            {{ end }}
                        </ul>
                        <a href="#locations">Locations</a>
                        <div id="locations" class="section">
                            <ul>
                                {{ range $location, $dates :=.RetRelation.DatesLocations }}
                                <li class="location">
                                     <a href="https://www.google.com/maps?q={{$location}}" target="_blank"><p class="location-name">{{ $location }}</p></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        <a href="#dates">Dates</a>
                        <div id="dates" class="section">
                            <ul>
                                {{ range $location, $dates :=.RetRelation.DatesLocations }}
                                <li class="location">
                                    <ul class="dates">
                                        {{ range $dates }}
                                        <li>{{. }}</li>
                                        {{ end }}
                                    </ul>
                                </li>
                                {{ end }}
                            </ul>
                        </div>

                        <a href="#concert-dates">Concert Dates</a>
                        <div id="concert-dates" class="section">
                            <ul>
                                {{ range $location, $dates :=.RetRelation.DatesLocations }}
                                <li class="location">
                                    <p class="location-name">{{ $location }} </p>
                                    <ul class="dates">
                                        {{ range $dates }}
                                        <li>{{. }}</li>
                                        {{ end }}
                                    </ul>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </center>
                </div>
                <div class="back-button-container">
                    <a href="/" class="back-button"><i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>